<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISecurityService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8888/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISecurityService" contract="SecurityService.ISecurityService"
                name="NetTcpBinding_ISecurityService">
                <identity>
                    <userPrincipalName value="KOMPUTER\hendra" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>