<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClickOnce.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClickOnce.Shell.Properties.Settings>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Mineman</value>
            </setting>
        </ClickOnce.Shell.Properties.Settings>
    </userSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISecurityService"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8888/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISecurityService" contract="SecurityService.ISecurityService" name="NetTcpBinding_ISecurityService">
        <identity>
          <userPrincipalName value="KOMPUTER\hendra"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
